* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
$light-color: hsl(0, 0%, 100%);
$background-color: hsl(24deg 33% 92%);
$h1-font-size: 2.5rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.75rem;
$table-font-size: 1.1rem;
$table-border: 1px solid var(--stone-150);


/* UTILITY CLASSES */
.bold {
  font-weight: bold;
}

/* GLOBAL STYLES */

html {
  background-color: $background-color;
  line-height: 1.5;
  min-height: 100vh;
}


body {
  background-color: $background-color;
}


article {
  margin: 28px 18px;
  background-color: $light-color;
  border-radius: 1em;
  overflow: hidden; // Ensures the image respects the border-radius
}

.image-container {
  width: 100%; /* Set the desired width */
  height: 270px; /* Set the desired height */
  overflow: hidden; /* Ensures the image doesn't overflow the container */
}

//IMG reset
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2rem;
  font-size: clamp(2rem, 0.7179487179487178rem + 5.47008547008547vw, 4rem);

  // ALTERNATIVE METHOD 
  // @media (min-width: 375px) {
  //   font-size: $h1-font-size * 1.1;
  // }

  // @media (min-width: 960px) {
  //   font-size: $h1-font-size * 1.2;
  // }
}