/* IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* VARIABLES */

:root {
  --light-color: #fff;
  --background-color: hsl(24deg 33% 92%);
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.75rem;
  --table-font-size: 1.1rem;
  --table-border: 1px solid var(--stone-150);
}

/* UTILITY CLASSES */

.bold {
  font-weight: bold;
}

/* GLOBAL STYLES */
body {
  background-color: var(--background-color);
}