@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// ### Font

// - Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
// - Weights: 500, 700

// - Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
// - Weights: 700

/* VARIABLES */
// ### Neutral
$Black: hsl(212, 21%, 14%);
$Grey: hsl(228, 12%, 48%);
$Cream: hsl(30, 38%, 92%);
$White: hsl(0, 0%, 100%);

// ### Primary

$Green500: hsl(158, 36%, 37%);
$Green700: hsl(158, 42%, 18%);


/* UTILITY CLASSES */
.bold {
  font-weight: bold;
}

/* GLOBAL STYLES */

html {
  font-family: 'Montserrat', sans-serif;
  background-color: $Cream;
  line-height: 1.5;
  min-height: 100vh;
}


body {
  background-color: $Cream;
  min-width: 375px;
  height: auto;
  display: grid; /* Enable Grid */
  place-items: center; 
  @media (width > 600px) {
    width: 100%;
    height: 100vh;
    display: grid; /* Enable Grid */
    place-items: center; /* Center content both horizontally and vertically */
    margin: 0;
  }
}


article {
  margin: 25px 18px;
  background-color: $White;
  border-radius: 1em;
  overflow: hidden; // Ensures the image respects the border-radius
  max-width: 400px;

  @media (width > 600px) {
    display: flex;
    flex-direction: row;
    width: 600px;
    height:fit-content;
    margin: 0 auto;
    border-radius: 0.5em;
    max-width: 600px;
  }
}

//IMG reset
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.figure {
  width: 100%;
  height: 255px;
  overflow: hidden;

  @media (width > 600px) {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
  }

}



section {
  padding: 1.1rem;
  @media (width > 600px) {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 10px 0.8rem;
  }
}

.product-type {
  font-size: 0.75rem;
  // font-size: clamp(0.75rem, 0.30985915492957744rem + 1.8779342723004695vw, 2rem);
  color: $Grey;
  letter-spacing: 5px;
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
  color: $Green700;
  // font-size: clamp(2rem, 0.6549295774647887rem + 0.9389671361502347vw, 1.5rem);
  // ALTERNATIVE METHOD
  // @media (min-width: 375px) {
  //   font-size: $h1-font-size * 1.1;
  // }
  // @media (min-width: 960px) {
  //   font-size: $h1-font-size * 1.2;
  // }
  line-height: 1;
  margin: 8px 0;
}

.product-description {
  font-size: 0.9rem;
  // font-size: clamp(0.9rem, 0.6549295774647887rem + 0.9389671361502347vw, 1.5rem);
  font-weight: 500;
  color: $Grey;
  margin: 15px 0;
}

.price-section {
  margin: 15px 0;
}

.price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
  // font-size: clamp(2em, 0.6549295774647887rem + 0.9389671361502347vw, 1.5rem);
  color: $Green500;
}

.discount {
  font-weight: 500;
  display: inline-block;
  font-size: 0.8rem;
  // font-size: clamp(0.8rem, 0.6549295774647887rem + 0.9389671361502347vw, 1.5rem);
  color: $Grey;
  margin-left: 13px;
  height: 100%;
  vertical-align: super;
}

button {
  width: 100%;
  height: 2.9rem;
  background-color: $Green500;
  color: $White;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  font-size: 1rem;
  // font-size: clamp(1rem, 0.6549295774647887rem + 0.9389671361502347vw, 1.5rem);
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 7px;
}

.cart-icon {
  height: 40%;
  margin-right: 7px;
  vertical-align: -2px;
  line-height: 1;
}